@font-face {
  font-family: 'Segoe WP Light';
  font-style: normal;
  src: url('assets/fonts/segoe-wp-light.ttf');
}

@font-face {
  font-family: 'Segoe WP';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe WP'), url('assets/fonts/SegoeWP.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: url('assets/fonts/OpenSans-Italic.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Asap Regular';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/Asap-Regular.otf');
}

@font-face {
  font-family: 'PT Sans Narrow Bold';
  font-style: normal;
  font-weight: bold;
  src: url('assets/fonts/PTN77F-webfont.woff');

}

a {
  text-decoration: none;
}

.nav-item:hover {
  background-image: linear-gradient(to top, #464646, #5d5d5d 100%);
}

header {
  display: flex;
  height: 62px;
}

.logo {
  display: flex;
  align-items: center;
  width: 186px;
  background-image: linear-gradient(to top, #464646, #5d5d5d 100%);
}

.logo img {
  width: 40px;
  height: 39px;
  margin: 11px 8px 12px 12px;
}

.logo h1{
  margin-top: 2px;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.42);
  color: #ffffff;
  font-family: "Open Sans";
  font-style: italic;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav {
  width: 455px;
  height: 62px;
  font-family: 'Segoe WP';
}

nav ul {
  height: 100%;
  display: flex;
}

.nav-item {
  height: 100%;
  display: flex;
  background-color: #f5c506;
}

.nav-item span {
  color: #9b7d08;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.19px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.about-item {
  width: 171px;
  border-right: 1px solid #dbb005;
}

.about-item img {
  width: 24px;
  height: 22px;
  margin: 20px 11px 20px 23px;
}

.services-item {
  width: 132px;
  border-right: 1px solid #dbb005;
}

.services-item img {
  width: 22px;
  height: 22px;
  margin: 21px 8px 19px 8px;
}

.contact-item {
  width: 149px;
}

.contact-item img {
  width: 28px;
  height: 21px;
  margin: 20px 12px 21px 12px;
}

.previous, .next, .slider-text, .vid-text h2, .scroll, .date, .twitter-desktop, .templates-wrapper ul, .top-bg {
  display: none;
}

video {
  width: 640px;
  height: 327px;
  margin: 0;
  background-image: url('assets/img/video-preview.png');
}

.main-play-pause {
  width: 67px;
  height: 67px;
  background-color: rgba(245, 197, 6, 0.71);
  border-radius: 50%;
  margin: 0 278px 81px 295px;
}

.main-play-pause img {
  width: 19px;
  height: 34px;
  margin: 17px 21px 16px 27px;
}

.slider {
  position: relative;
  height: 327px;
}

.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 640px;
}

.bottom-interface {
  height: 27px;
  display: flex;
  margin-left: 83px;
  margin-bottom: 22px;
}

.play-pause {
  width: 27px;
  height: 27px;
  background-color: #f5c506;
  opacity: 0.37;
  margin-right: 24px;
}

.play-pause img {
  width: 10px;
  height: 17px;
  margin: 5px 7px 5px 10px;
}

.status {
  position: relative;
  width: 404px;
  height: 12px;
  margin: 8px 31px 7px 0;
}

.all-status {
  width: 404px;
  height: 12px;
  background-color: #f5c506;
  opacity: 0.28;
  border-radius: 4px;
}

.current-status {
  position: absolute;
  top: 0;
  width: 179px;
  height: 12px;
  background-color: #f5c506;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.sound {
  margin-top: 7px;
  margin-bottom: 5px;
}

.sound img {
  height: 15px;
  width: 15px;
}

.mid-bar {
  position: relative;
  background-color: transparent;
  background-position: -4px 0;
  width: 640px;
  height: 170px;
  display: flex;
}

.mid-bar-bg-1 {
  top: 380px;
  position: absolute;
  background-image: url('assets/img/mid_bg.png');
  height: 170px;
  width: 640px;
}

.mid-bar-bg-2 {
  top: 385px;
  position: absolute;
  background-image: url('assets/img/mid_bg.png');
  height: 170px;
  width: 640px;
}

.item {
  height: 170px;
  display: flex;
  flex-direction: column;
}

.item-1 {
  width: 164px;
  margin-left: 16px;
  margin-right: 90px;
}

.item-2 {
  width: 116px;
  margin-right: 108px;
}

.item-3 {
  width: 84px;
}

.item-1 img{
  width: 89px;
  height: 61px;
  margin-top: 33px;
  margin-bottom: 21px;
  margin-left: 29px;
}

.item span {
  font-family: 'Segoe WP Light';
  text-transform: uppercase;
  font-size: 23px;
  color: #000000;
  letter-spacing: 0.23px;
}

.item-2 img {
  width: 67px;
  height: 69px;
  margin-top: 29px;
  margin-left: 25px;
  margin-bottom: 17px;
}

.item-3 img {
  width: 70px;
  height: 69px;
  margin-top: 29px;
  margin-left: 1px;
  margin-bottom: 17px;
}

.vid-text {
  display: flex;
  width: 640px;
  height: 252px;
}

.vid-text .vid-text-content {
  display: flex;
}

.text-block {
  position: relative;
  width: 299px;
  height: 232px;
  margin: 11px 9px 9px 9px;
  background-color: #ec9e03;
}

.text-block p {
  width: 256px;
  height: 189px;
  margin-top: 15px;
  margin-left: 26px;
  color: #ffffff;
  font-family: "Segoe WP Light";
  font-size: 29px;
  line-height: 33.5px;
  letter-spacing: 0.33px;
}

.text-block img {
  position: absolute;
  left: 277px;
}

.video-block {
  margin-top: 10px;
  position: relative;
  height: 232px;
  width: 315px;
}

.video-block > video{
  width: 315px;
  height: 232px;
}

.video-block > .video-button {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
}

.video-block > .video-button > .main-play-pause {
  height: 61px;
  width: 61px;
  margin: 93px 132px 78px 130px;
}

.video-block > .video-button > .main-play-pause > img {
  height: 32px;
  width: 18px;
  margin: 15px 19px 14px 24px;
}

.twitter {
  width: 640px;
  height: 233px;
  background-color: #f5c507;
  display: flex;
}

.twitter img {
  width: 159px;
  height: 133px;
  margin: 59px 80px 41px 85px;
}

.twitter .message-item {
  width: 285px;
  height: 42px;
  margin-bottom: 14px;
}

.twitter .message-item p{
  padding-top: 8px;
  margin: 9px 40px 5px 27px;
  color: #8f8e8e;
  font-family: "Asap Regular";
  font-size: 13px;
  font-weight: 400;

}

.twitter .message-item1 {
  margin-top: 24px;
  background-image: url("assets/img/message-bg-1.png");
}

.twitter .message-item2 {
  background-image: url("assets/img/message-bg-2.png");
}

.twitter .message-item3 {
  background-image: url("assets/img/message-bg-3.png");
  margin-bottom: 13px;
}

form {
  display: flex;
}

input[type="text"] {
  width: 199px;
  height: 27px;
  margin-left: 12px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.11);
  border: 1px solid #d0a806;
  border-right: none;
  background-color: #ffffff;
}

input[type="submit"] {
  width: 69px;
  height: 31px;
  border: 1px solid #d0a806;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(to top, #d08e0b 0%, #eaa926);

  color: #ffffff;
  font-family: "Asap Regular";
  font-size: 15px;
}

.templates {
  width: 640px;
  height: 466px;
  background-color: #474747;
}

.templates h2 {
  padding-top: 38px;
  margin-left: 18px;
  color: #f5c506;
  font-family: "Open Sans";
  font-size: 39px;
  text-transform: uppercase;
  letter-spacing: 0.39px;
}

.templates .img-block {
  width: 640px;
  height: 298px;
  position: relative;
  margin-top: 38px;
}

.templates .img-block img:first-child {
  margin-left: 57px;
  margin-top: 41px;
}

.templates .img-block img:nth-child(2) {
  margin-left: 20px;
  margin-bottom: 40px;
}

.templates .img-block img:nth-child(3) {
  margin-left: 21px;
  margin-bottom: 40px;
}

.templates .img-block .banner {
  position: absolute;
  top: 0;
  left: 27px;
  width: 116px;
  height: 116px;
  background-color: #f5c506;
  border-radius: 50%;
}

.templates .img-block .banner span {
  display: block;
  margin-top: 51px;
  margin-left: 7px;
  color: #ffffff;
  font-family: "PT Sans Narrow Bold";
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
}

footer {
  width: 640px;
  height: 43px;
  box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.75);
  overflow: auto;
  background-color: #4c4c4c;
}

.footer-logo {
  width: 133px;
  padding-top: 6px;
  margin-left: 65px;
}

.footer-logo img {
  width: 30px;
  height: 31px;
}

.footer-logo h2 {
  display: inline-block;
  line-height: 31px;
  margin-left: 7px;
  vertical-align: top;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.42);
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 17px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 1.29px;
}

@media screen and (min-width: 1000px) {
  header {
    width: 1300px;
    height: 112px;
    margin-bottom: 56px;
    position: relative;
  }

  header .logo {
    width: 217px;
    height: 83px;
    background-image: none;
    margin: 28px 350px 1px 140px;
  }

  header .logo img {
    width: 83px;
    height: 83px;
    margin: 0;
    margin-right: 9px;
  }

  header .logo h1 {
    padding-top: 5px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 43px;
    font-style: italic;
    text-transform: uppercase;
  }

  header .nav-bg-1, header .nav-bg-2 {
    display: block;
    width: 453px;
    height: 41px;
    position: absolute;

    background-color:#f5c506;
    opacity: 0.27;
  }

  .nav-bg-1 {
    top: 63px;
    left: 699px;
    z-index: -2;
  }

  .nav-bg-2 {
    top: 66px;
    left: 703px;
    z-index: -1;
  }

  nav {
    width: 453px;
    height: 41px;
    margin-top: 71px;
  }

  nav ul {
    height: 41px;
  }

  .about-item img {
    width: 21px;
    height: 19px;
    margin: 0;
    margin: 11px 9px 11px 39px
  }

  .about-item span {
    color: #9b7d08;
    font-family: "Segoe WP";
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.17px;
    margin: 0;
    margin: 12px 20px 0px 0;
  }

  .services-item img {
    width: 19px;
    height: 19px;
    margin: 11px 9px 11px 15px;
  }

  .services-item span {
    color: #9b7d08;
    font-family: "Segoe WP";
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.17px;
    margin: 12px 18px 13px 0;
  }

  .contact-item img {
    width: 24px;
    height: 18px;
    margin: 11px 8px 12px 18px;
  }

  .contact-item span {
    color: #9b7d08;
    font-family: "Segoe WP";
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.17px;
    margin: 12px 22px 13px 0;
  }

  .slider {
    display: flex;
    height: 398px;
  }

  .previous, .next, .slider-text {
    display: block;
  }

  .previous, .next {
    width: 32px;
    height: 57px;
    margin-top: 132px;
    background-color: rgba(245, 197, 6, 0.71);

  }

  .previous {
    margin-right: 118px;
  }

  .previous img {
    margin: 19px 11px 19px 8px;
    transform: rotate(180deg);
  }

  .next img {
    margin: 18px 8px 20px 11px;
  }

  .slider video {
    width: 549px;
    height: 327px;
    margin-right: 37px;
    background-image: url('assets/img/poster-desktop.png');
  }

  .slider-text {
    display: block;
    margin-top: 80px;
    margin-right: 127px;
    line-height: 64px;
    text-align: center;
    color: #f5c506;
    font-family: "Asap Regular";
    font-size: 63px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.63px;
  }

  .slider-text span:last-child {
    display: block;
    margin-top: 12px;
    margin-left: 12px;
    color: #ffffff;
  }

  .controls {
    width: 549px;
    bottom: 71px;
    left: 96px;
  }

  .mid-bar-bg-1, .mid-bar-bg-2, .nav-bg-1, .nav-bg-2 {
    display: none;
  }

  .mid-bar {
    display: flex;
    width: 1300px;
    height: 212px;
    position: relative;
    box-shadow: 0 8px 10px 10px rgba(0, 0, 0, 0.75);

    background-color: #ffffff;
    background-image: url('assets/img/mid-bar-bg.png');
  }

  .mid-bar .item {
    width: 340px;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.14);
    margin: 0;
  }

  .mid-bar .item:first-child {
    margin-left: 139px;
  }

  .mid-bar .item:last-child {
    margin-right: 140px;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
  }

  .mid-bar .item-1 img {
    width: 109px;
    height: 74px;
    margin: 61px 118px 14px 113px;
  }

  .mid-bar .item span {
    /* Style for "better des" */
    font-family: "Segoe WP Light";
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    /* Text style for "better des" */
    letter-spacing: 0.27px;
  }

  .mid-bar .item-1 span {
    margin-left: 87px;
  }
  .mid-bar .item-1 {
    width: 341px;
  }
  .mid-bar .item-2 {
    width: 338px;
  }

  .mid-bar .item-2 img {
    width: 92px;
    height: 95px;
    margin: 37px 112px 17px 134px;
  }

  .mid-bar .item-2 span {
    margin-left: 110px;
    line-height: 29px;
  }

  .mid-bar .item-3 img {
    width: 81px;
    height: 83px;
    margin: 54px 139px 12px 119px;
  }

  .mid-bar .item-3 span {
    margin-left: 113px;
    line-height: 29px;
  }

  .vid-text {
    width: 1300px;
    height: 508px;
    flex-direction: column;
    position: relative;

    background-image: url('assets/img/vid-text-bg.png');
  }

  .vid-text h2 {
    display: block;
    margin-top: 39px;
    margin-left: 140px;

    color: #ffffff;
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.37px;
  }

  .vid-text-content {
    position: absolute;
    left: 139px;
    top: 111px;
  }

  .vid-text-content .text-block {
    width: 341px;
    height: 232px;
    margin: 0;
  }

  .vid-text-content .text-block p {
    width: 272px;
    height: 174px;
    margin: 16px 38px 34px 30px;
    color: #ffffff;
    font-family: "Segoe WP Light";
    font-size: 29px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0.29px;
  }

  .vid-text-content .text-block img {
    width: 11px;
    height: 11px;
    top: 209px;
    left: 317px;
  }

  .vid-text .video-block {
    width: 315px;
    height: 231px;
    margin: 0;
    margin-right: 34px;
  }

  .vid-text .twitter-desktop {
    width: 329px;
    height: 233px;
    display: block;
    margin-top: -1px;
    position: relative;

    background-color: #ec9e03;
  }

  .vid-text .twitter-desktop img:first-child {
    width: 163px;
    height: 133px;
    margin-top: 59px;
    margin-left: 83px;
  }

  .vid-text .twitter-desktop span {
    width: 24px;
    height: 18px;
    position: absolute;
    top: 9px;
    left: 285px;

    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 25px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0.25px;
  }

  .vid-text .twitter-desktop img:last-child {
    width: 11px;
    height: 11px;
    position: absolute;

    top: 209px;
    left: 309px;
  }

  .date {
    display: block;
    width: 113px;
    height: 86px;
    position: absolute;
    top: 343px;
    left: 139px;

    background-color: #ddb101;
  }

  .date span:first-child {
    width: 55px;
    height: 38px;
    display: block;
    margin-top: 12px;
    margin-left: 31px;

    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 47px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 2.6px;
  }

  .date span:last-child {
    width: 55px;
    height: 15px;
    margin-left: 32px;

    color: #b26529;
    font-family: "Segoe WP";
    font-size: 21px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 0.21px;
  }

  .scroll {
    height: 15px;
    width: 896px;
    display: block;
    position: absolute;
    left: 211px;
    bottom: 23px;
  }

  input[type=range] {
    height: 15px;
    -webkit-appearance: none;
    width: 100%;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.71);
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    border-radius: 7px;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-left: -103px;
    height: 15px;
    width: 197px;
    border-radius: 7px;
    background: #ec9e03;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    border-radius: 7px;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-radius: 7px;
  }
  input[type=range]::-ms-fill-lower {
    background: #FFFFFF;
    border-radius: 7px;
  }
  input[type=range]::-ms-fill-upper {
    background: #FFFFFF;
    border: 0px solid #000000;
    border-radius: 7px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #EC9E03;
    height: 15px;
    width: 45px;
    border-radius: 7px;
    background: #ec9e03;
    cursor: pointer;
  }

  .twitter {
    display: none;
  }

  .templates {
    width: 1300px;
    height: 498px;
    position: relative;

    background-image: url('assets/img/templates-bg.png');
  }

  .templates h2 {
    padding-top: 44px;
    padding-left: 4px;
    font-size: 41px;
    text-align: center;
  }

  .templates-wrapper {
    display: flex;
    margin: 0;
    position: absolute;
    top: 56px;
    left: 111px;
  }

  .templates-wrapper ul {
    display: block;
  }

  .templates-wrapper .img-block img:first-child {
    margin-left: 47px;
    margin-top: 44px;
  }

  .templates-wrapper ul {
    margin-top: 102px;
    margin-left: 49px;
    list-style-image: url('assets/img/list-point.png');
  }

  .templates-wrapper ul li {
    padding-left: 10px;
    width: 313px;
    height: 22px;
    color: #a9a9a7;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.22px;
  }

  .templates-wrapper ul li:first-child {
    margin-top: 25px;
  }

  .templates-wrapper ul li:nth-child(2) {
    margin-top: 28px;
  }

  .templates-wrapper ul li:nth-child(3) {
    margin-top: 43px;
  }

  .templates-wrapper ul li:nth-child(4) {
    margin-top: 31px;
  }

  footer {
    width: 1300px;
    height: 64px;
    position: relative;
  }

  .footer-logo {
    width: 223px;
    margin-left: 140px;
  }

  .footer-logo img {
    width: 54px;
    height: 54px;
    margin-top: -1px;
  }

  .footer-logo h2 {
    margin-top: 10px;
    margin-left: 5px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 29px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }

  .top-bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1300px;
    height: 1366px;
    background-image: url('assets/img/top-bg.png');
    z-index: -99;
  }

  .text-block img:hover, .twitter-desktop img:last-child:hover {
    transition: 0.5s ease;
    top: 210px;
    cursor: pointer;
  }
}
